<% content_for :page_title, @session_data[:article_title] %>
<% content_for :title_context, @session_data[:article_title] %>
<% content_for :back_link, respond_path(back: :true) %>
<% content_for :title, t("fact_check_verification.heading") %>
<% if @errors.present? %>
  <% content_for :error_summary, render(partial: "application/errors/submission_error_summary") %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: confirm_response_path,
                  method: :post,
                  scope: :fact_check_response do |f| %>
      <%= render "govuk_publishing_components/components/summary_list", {
        items: [
          {
            field: t("fact_check_verification.confirm_changes"),
            edit: {
              href: respond_path(back: :true),
              text: t("fact_check_verification.change_link"),
            },
            value: @session_data[:accepted] == "true" ?
              t("fact_check_response.correct") :
              t("fact_check_response.incorrect"),
          },
          (@session_data[:accepted] == "false" ? {
            field: t("fact_check_verification.factual_errors"),
            edit: {
              href: respond_path(back: :true),
              text: t("fact_check_verification.change_link"),
            },
            value: simple_format(@session_data[:body]),
          } : nil),
        ].compact,
        margin_bottom: 9,
      } %>
    
      <%= render "govuk_publishing_components/components/heading", {
        text: t("fact_check_verification.send_response"),
        margin_bottom: 6,
      } %>
    
      <%= render "govuk_publishing_components/components/warning_text", {
        text: t("fact_check_verification.send_response_warning"),
      } %>
    
      <%= render "govuk_publishing_components/components/button", {
        text: t("fact_check_verification.confirm_button"),
        margin_bottom: 6,
      } %>
    
    <% end %>
  </div>
</div>
